<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400&display=swap');

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .ubicomp_iswc_font {
    font-family: 'Sora', sans-serif;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #004e9b;
    color: white;
    font-weight: 600;
    z-index: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px 4px 32px;
    padding: 0 20px;
    max-width: 1800px;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .section_first {
    margin: 8px;
    display: flex;
    justify-content: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  .center {
    text-align: center;
    width: 100%;
  }

  iframe {
    width: 1000px;
  }

  #image-container {
    width: 750px;
    height: 360px !important;
    text-align: center;
    overflow: hidden;
  }

  #image-container img {
    width: inherit;
    height: 500px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar ubicomp_iswc_font" role="banner">
  <a aria-label="UbiComp/ISWC 2021" target="_blank" rel="noopener" href="https://iswc.net/iswc21/"
     title="UbiComp/ISWC 2021">
    <!--    <img src="../assets/hfkoeccojlopload.png" width="auto" height="50">-->
    <img src="./assets/hfkoeccojlopload.png" width="auto" height="50">
  </a>
  <span style="font-size:1vw">Tutorial on Deep Learning for Human Activity Recognition</span>
  <div class="spacer"></div>
  <a aria-label="UbiComp Siegen" target="_blank" rel="noopener"
     href="https://ubicomp.eti.uni-siegen.de/home/index.html.en?lang=en" title="UbiComp Siegen">
    <!--    <img src="../assets/ubicomp_logo_1952x576a.png" width="169" height="50">-->
    <img src="./assets/ubicomp_logo_1952x576a_white.png" width="169" height="50">
  </a>
  <a aria-label="Computer Vision Siegen" target="_blank" rel="noopener"
     href="https://www.vsa.informatik.uni-siegen.de/" title="Computer Vision Siegen">
    <!--        <img src="../assets/cv_logo_small_0.png" width="50" height="50">-->
    <img src="./assets/cv_logo_small_0.png" width="50vw" height="50vw">
  </a>
  <a aria-label="UbiComp Siegen on YouTube" target="_blank" rel="noopener"
     href="https://www.youtube.com/c/ubicompuniversityofsiegen" title="YouTube">
    <svg id="youtube-logo" height="40" width="40" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>
  <a aria-label="Tutorial GitHub Repository" target="_blank" rel="noopener"
     href="https://github.com/mariusbock/dl-for-har/tree/main/tutorial_notebooks" title="GitHub">
    <!--        <img src="../assets/GitHub-Mark.png" height="40" width="auto">-->
    <img src="./assets/GitHub-Mark.png" height="40" width="auto">
  </a>
</div>

<div class="content ubicomp_iswc_font" role="main">
  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section  section_first">
      <div class="row">
        <div class="col">
          <h1>Welcome to our Tutorial about Deep Learning for Human Activity Recognition</h1>
          <div class="spacer">
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>ORGANIZERS</h3>
          <b>Marius Bock</b> (University of Siegen, Germany)<br>
          <b>Alexander Hölzemann</b> (University of Siegen, Germany) <br>
          <b>Michael Moeller</b> (University of Siegen, Germany)<br>
          <b>Kristof Van Laerhoven</b> (University of Siegen, Germany)<br>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-8">
          <h3>TUTORIAL SUMMARY</h3>
          <p style="text-align: justify">
            Physical activities play a crucial role in the way we structure our lives. Which activity, and how it is
            performed, can reveal a person’s intention, habit, fitness, and state of mind; it is therefore not
            surprising that a range of research fields, from cognitive science to healthcare, display a growing
            interest in the machine recognition of human activities. In 2014, Bulling et al. designed and organized
            an exceptionally well-received tutorial on human activity recognition from wearable sensor data. They
            introduced concepts such as the Activity Recognition Chain (ARC), a framework for designing and
            evaluating activity recognition systems, as well as a case study demonstrating how to work with this
            ARC. Within the last decade, deep learning methods have shown to outperform classical Machine Learning
            algorithms. We argue that releasing an updated tutorial that is adapted to work with deep learning
            techniques is long overdue.
            This tutorial introduces the Deep Learning Activity Recognition Chain (DL-ARC), which encompasses the
            advances that have been made over the years within the field of deep learning for human activity
            recognition and deep learning. Our work directly ties into the works of Bulling et al. and functions as
            a step-by-step framework to apply deep learning to any activity recognition use case. Within this
            tutorial, we will show how state-of-the-art models can be achieved, while along the way explaining all
            design choices in detail.
            This tutorial functions as a guide in the typical processes to design and evaluate deep learning
            architectures, once a human activity dataset has been recorded and annotated. We show through code
            snippets in a step-by-step process why certain steps are needed, how they affect the system’s outcome,
            and which pitfalls present themselves when designing a deep learning classifier. Participants do not
            need prior knowledge in human activity recognition or deep learning techniques, but should be familiar
            with programming in Python.
          </p>
        </div>
        <div class="col-md-4">
          <h3>ADDITIONAL INFORMATION</h3>
          <p>
            <strong>Begin: </strong>09:30 EDT <br>
            <strong>End: </strong>17:30 EDT <br>
            <strong>Zoom Session: </strong> <a
            href="https://acm-org.zoom.us/my/imwut.d?pwd=Smx6T05vV2VITGo1Tk1OcUdnL0VTdz09">https://acm-org.zoom.us/my/imwut.d?pwd=Smx6T05vV2VITGo1Tk1OcUdnL0VTdz09</a><br>
            <strong>GitHub Repository: </strong> <a
            href="https://github.com/mariusbock/dl-for-har/tree/main/tutorial_notebooks">https://github.com/mariusbock/dl-for-har/tree/main/tutorial_notebooks</a><br>
            <strong> Google Colab: </strong> <a href="https://colab.research.google.com/?utm_source=scs-index">https://colab.research.google.com/?utm_source=scs-index</a><br>
            <strong> Conference Paper: </strong> <a href="https://doi.org/10.1145/3460421.3480419">Improving Deep Learning for HAR with shallow LSTMs</a><br>
            <strong> Tutorial Paper: </strong> <a href="https://arxiv.org/abs/2110.06663">Tutorial on Deep Learning for Human Activity Recognition </a><br>
          </p>
        </div>
      </div>
    </div>
    <div class="section center">
      <h1 class="">Time Schedule</h1>
      <br>
      <br>
      <div class="center">
        <img src="./assets/timeschedule.png">
      </div>
    </div>
    <div class="section center">
      <h1 class="">Part 1: Introduction</h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vS1chAGPE0W6T751m2J-XXPQ3sLVov7zkGgxOOWNvRSb8pBrtzAV1V1HucGB4w859VYfYc8N_YhO0Kg/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 2: Data Collection & Analysis </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vSK2aHYhmHmwhwpZtXTrtRf41A6Sr8bTaElyWgxqka6UIk6EucZ_Aaw0xac3Zp3PO0SqRLOLhNjQTJ1/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>

      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 3: Preprocessing </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vSZ5pj74dNHqrsZGFC5vDPEeMNVm5Sy4VoU9Mpnk06mJe0e3LJh59EJl3p1FlKYXdeL6Vik-7SVD2Q0/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>

      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 4: Training </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vRBKSuN4B-Eg3aZUoWRAuM6Tqu13U1Y9Msu8R0SrnE0Nco8b8InlUswwwS_7A9rTUd--YWeqn8IbRMl/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 5: Validation and Testing </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vSfUj_-u3WJ5AC9A4AA9kZIDMlItXz7YTqieCUeMltxpakAcYcAIFBxBymsfz8a_ze8u3ulcGrWgLuk/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 6: Next Research Steps </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vScWjejouMngUwH4DlVKQ3UBytURGu-GE2nOjwKlr1PJEsLkdvdSDGPqJOzo5IpFHTOJjJ7-uzNicqS/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="section center" (click)="fullpage_api.moveSectionDown()">
      <h1 class="">Part 7: Wrap Up </h1>
      <br>
      <br>
      <div class="center">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vTqWbA3xrO5yhVaAmHQ8JYgYbZe7zm1UIg_YAcqG1TVSr3okdGyo5UahynqqMW94byezBY1SqiIXD4E/embed?start=false&loop=false&delayms=60000&rm=minimal"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>
    </div>
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>
</div>
